:root {
    --blue-color: #82afff;
    --purple-color: #9c74d8;
    --orange-color: #ffaf61;
    --green-color: #35cc8e;
    --green2-color: #75b487;
    --red-color: #ff5757;
    --main-bg-color: #f5f5dc;
    --content-bg-color: #fafafa;
}

.container, .container > * {
    border: 1px solid #000;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0 5vw 0 5vw;
    background-color: var(--main-bg-color);
}

.container {  
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .4fr 7.6fr 3.5fr 1.5fr 5fr 5fr 1.5fr 2.9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar"
      "hero hero"
      "hero-text-left hero-text-right"
      "projects projects"
      "project-1 project-2"
      "project-1 project-3"
      "contact contact"
      "find-me contact-links";
}
  
.navbar { 
    grid-area: navbar;
    height: 6vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar a {
    font-size: 1rem;
    padding: 0 1vw 0 1vw;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}
  
.hero { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". .";
    grid-area: hero;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

  
.hero-text-left { 
    grid-area: hero-text-left; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw;
}
  
.hero-text-right { 
    grid-area: hero-text-right;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 2vh 2vw;

}

.projects { 
    grid-area: projects;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects p {
    font-size: 2rem; 
    font-weight: bold;
    letter-spacing: .1vw;
}
  
.project-1 {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ".";
    grid-area: project-1;
    overflow: hidden;
    position: relative;
}

.project-1 .overlay-text-p1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
}

.project-1:hover .overlay-text-p1 {
    opacity: 1;
}

.project-1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.project-1:hover img {
    transform: scale(1.1);;
    opacity: 0.25;
}

  
.project-2 { 
    grid-area: project-2;
    overflow: hidden;
}

.project-2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.project-2:hover img {
    transform: scale(1.1);;
    opacity: 0.7;
}
  
.project-3 { 
    grid-area: project-3; 
    overflow: hidden;
}

.project-3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.project-3:hover img {
    transform: scale(1.1);;
    opacity: 0.7;
}
  
.contact { 
    grid-area: contact; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact p {
    font-size: 2rem; 
    font-weight: bold;
    letter-spacing: .1vw;
}

.find-me {
    grid-area:  find-me;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green-color);
}

.find-me p {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .2vw;
}

.contact-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "email github linkedin";
    grid-area: contact-links;
    background-color: var(--green-color);
}

.email {
    grid-area: email;
    overflow: hidden;
}

.email img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.email:hover img {
    transform: scale(1.1);;
    opacity: 0.7;
}
.github {
    grid-area: github;
    border-right: 1px solid black;
    border-left: 1px solid black;
    overflow: hidden;
}

.github img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.github:hover img {
    transform: scale(1.1);;
    opacity: 0.7;
}

.linkedin {
    grid-area: linkedin;
    overflow: hidden;
}

.linkedin img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.linkedin:hover img {
    transform: scale(1.1);;
    opacity: 0.7;
}
  